.content {
    font-size: 200%;
    font-weight: bold;
    position: absolute;
    top: 250px;
    left: 850px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    border: solid 1px #808080;
    width: 540px;
}

.name{
    font-size: 200%;
    position: absolute;
    top: 550px;
    left: 500px;
}

.price{
    font-size: 200%;
    position: absolute;
    top: 600px;
    left: 500px;
}

.btn {
    position: absolute;
    top: 650px;
    left: 500px;
}